<h2>Home</h2>
<a href="/preferences/{{id}}">preferences</a> 
<a href="/logout">Logout</a>
<p>tempo: {{param.tempo}} acousticness: {{param.acousticness}}</p>
<form action="/parameters/{{id}}" method="POST">
  <input type="range" min="40" max="200" value={{param.tempo}} class="slider" name="tempo" id="tempo">
  <label for="tempo"> tempo</label>
  <input type="range" min="0" max="10" value={{param.acousticness}} class="slider" name="acousticness" id="acousticness">
  <label for="acousticness"> acousticness</label>
  <button type="submit">Set</button>
</form>

<form action="/recommendation/{{id}}" method="GET">
  <button type="submit">Go!</button>
</form>