<h2>Home</h2>
<a href="/preferences/{{user.id}}">preferences</a> 
<a href="/logout">Logout</a>
<h3>Welcome {{user.username}}</h3>
<p>tempo: {{user.param.tempo}} acousticness: {{user.param.acousticness}}</p>
<form action="/parameters/{{user.id}}" method="POST">
  <input type="range" min="40" max="200" value={{user.param.tempo}} class="slider" name="tempo" id="tempo">
  <label for="tempo"> tempo</label>
  <input type="range" min="0" max="10" value={{user.param.acousticness}} class="slider" name="acousticness" id="acousticness">
  <label for="acousticness"> acousticness</label>
  <button type="submit">Set</button>
</form>

<form action="/recom-genre/{{user.id}}" method="GET">
  <button type="submit">Search by genre</button>
</form>  

<form action="/recom-artist/{{user.id}}" method="GET">
  <button type="submit">Search by artist</button>
</form>  

<p>Selected genres:</p>
{{#each user.favGenres}}
  <li>{{this}}</li>
{{/each}}
<p>Selected artists:</p>
{{#each user.favArtists}}
  <li>{{this}}</li>
{{/each}}

