<div class="screen">
  {{> nav}}

  {{!-- <h2>Choose Preferences</h2> --}}

  <form action='/prefrences/{{id}}' method="POST">
    <div class="flex col">
      <div class="flex row">
        <div class="pref-col">
          <h2 class="pref-subhead">Pick your five favourite genres:</h2>

            {{#each prefs.favGenres}}
            <input class="check" type="checkbox" id="{{this}}" name="favGenres" value="{{this}}" Checked>
            <label for="{{this}}" class="text-body black check-lbl"> {{this}}</label><br>
            {{/each}}

            {{#each genres}}
            <input class="check" type="checkbox" id="{{this}}" name="favGenres" value="{{this}}">
            <label for="{{this}}" class="text-body black check-lbl"> {{this}}</label><br>
            {{/each}}
        </div>


        <div class=" pref-col">
          <h2 class="pref-subhead">Enter your five favourite artists:</h2>
            <div class="flex col">
              <label for="favArtists" class="text-body black">Artist 1:</label>
              <input class="input-artist" type="text" name="favArtists" value="{{prefs.favArtists.[0]}}">

              <label for="favArtists" class="text-body black">Artist 2:</label>
              <input class="input-artist" type="text" name="favArtists" value="{{prefs.favArtists.[1]}}">

              <label for="favArtists" class="text-body black">Artist 3:</label>
              <input class="input-artist" type="text" name="favArtists" value="{{prefs.favArtists.[2]}}">

              <label for="favArtists" class="text-body black">Artist 4:</label>
              <input class="input-artist" type="text" name="favArtists" value="{{prefs.favArtists.[3]}}">

              <label for="favArtists" class="text-body black">Artist 5:</label>
              <input class="input-artist" type="text" name="favArtists" value="{{prefs.favArtists.[4]}}">
            </div>
        </div>

      </div>

      <button type="submit" class="pref-submit">Submit</button>

  </form>
</div>


<script type="text/javascript">
  let limit = 5;
  $('input.check').on('change', function (evt) {
    console.log(evt.target.checked)
    if ($(this).siblings(':checked').length >= limit) {
      this.checked = false;
    }
  });
</script>