<h2>Choose Preferences</h2>


  <form action='/prefrences/{{id}}' method="POST"> 
  {{#each userGenres}}
    <input class="checked" type="checkbox" id="{{this}}" name="{{this}}" value="{{this}}" Checked>
    <label for="{{this}}"> {{this}}</label><br>
  {{/each}}

  {{#each genres}}
    <input class="check" type="checkbox" id="{{this}}" name="{{this}}" value="{{this}}"> 
    <label for="{{this}}"> {{this}}</label><br>
  {{/each}}
  <button type="submit">Submit</button>

 </form>


<script type="text/javascript">
    let limit = 5;
$('input.check').on('change', function(evt) {
  console.log(evt.target.checked)
   if($(this).siblings(':checked').length >= limit) {
       this.checked = false;
   }
});
</script>
