{{>nav}}

<div class="flex row center subheader">
  <a href="/home/{{id}}">
    <- Back</a>
</div>

<div class="flex row rec-container">
  <img src="{{image}}" alt="" class="album-cover">

  <div class="info-container">
    <h2 class="black">{{names.albumName}}</h2>
    <h2 class="grey">by {{names.artistName}}</h2>

    <div class="track-container">
      {{#each tracks}}
      <div class="flex row space-between track-item">
        <p class=" text-body black">{{this.name}}</p>
        {{#if this.preview_url}}
        <audio controls>
          <source src="{{this.preview_url}}" type="audio/mpeg">
        </audio>
        {{/if}}
      </div>
      {{/each}}
    </div>


  </div>

</div>